:root {
    --black: rgb(0, 0, 0);
    --dark: rgb(50, 50, 50);
    --grey: rgb(230, 230, 230);
    --white: rgb(255, 255, 255);
    --metalic: rgb(155, 162, 163);
    --cyan: rgb(0, 255, 255);
    --orange: rgb(255, 163, 77);
}
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Merriweather', Arial;
}

/* navigation */
header {
    border-bottom: 2px solid var(--orange);
    height: 5rem;
    color: var(--grey);
    background-color: var(--dark);
}
nav  {
    padding: 1.5rem 0;
}
nav ul {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
}
nav ul button {
    font-size: 1.5rem;
    border: none;
    color: var(--grey);
    background-color: var(--dark);
}
nav ul button:not(:first-child) {
    margin-left: 10%;
}

/* main */
main {
    background-image: url('../img/earth.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 68vh;
}

.phone {
    border-radius: 6px;
    position: relative;
    bottom: 0px;
    left: 0px;
}
.alien {
    position: relative;
}

/* footer */
footer {
    border-top: 3.5px solid var(--orange);
    background-color: var(--metalic);
    
}
@media (min-width: 50rem) {
    /* nav */
    nav ul button:hover {
        cursor: pointer;
        text-shadow: 1px 1px 0 var(--grey);
    
        -webkit-transform: scale(1.5) skewX(-20deg) skewY(8deg);
        -moz-transform: scale(1.5) skewX(-20deg) skewY(8deg);
        -ms-transform: scale(1.5) skewX(-20deg) skewY(8deg);
        -o-transform: scale(1.5) skewX(-20deg) skewY(8deg);
        transform:  scale(1.5) skewX(-20deg) skewY(8deg);
    }

    /* footer */
    footer {
        height: 8.8rem;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px 10px;
        grid-template-areas:
          "force startButton gravity distanceX"
          "angel startButton distanceThrown distanceY";
    }
    .force {
        grid-area: force;
    }
    .angel {
        grid-area: angel;
    }
    .startButton {
        grid-area: startButton;
        display: flex;
    }
    .gravity {
        grid-area: gravity;
    }
    .distanceThrown {
        grid-area: distanceThrown;
    }
    .distanceX {
        grid-area: distanceX;
    }
    .distanceY {
        grid-area: distanceY;
    }
    
    .distanceX label, .distanceY label, .gravity label, .distanceThrown label {
        display: flex;
    }
    .force, .gravity, .distanceX {
        margin-top: 2rem;
    }
    .angel, .distanceThrown, .distanceY {
        margin-top: 1rem;
    }
    .force, .angel {
        margin-left: 2rem;
    }

    #start {
        height: 2rem;
        width: 5rem;
        justify-content: center;
        align-self: center;
    }
}
